lab7_flow.txt
[{"id":"2eed1a12.5c1666","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e01cfc7f.12b25","type":"twitter in","z":"2eed1a12.5c1666","twitter":"","tags":"#trump","user":"false","name":"Trump_Tweets","topic":"tweets","inputs":0,"x":380.00000762939453,"y":185.00000476837158,"wires":[["9aeb9127.07a7"]]},{"id":"9aeb9127.07a7","type":"sentiment","z":"2eed1a12.5c1666","name":"","property":"payload","x":594.0000152587891,"y":183.0000057220459,"wires":[["2ee971d0.be35ce"]]},{"id":"31727d17.02ee22","type":"debug","z":"2eed1a12.5c1666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1028.0000228881836,"y":188.00000762939453,"wires":[]},{"id":"2ee971d0.be35ce","type":"function","z":"2eed1a12.5c1666","name":"email_content","func":"var sentiment = msg.payload;\nvar sent = flow.get('sent')||0;\n//var msg_payload = context.get(\"sentiment\") || 0;\nif(sentiment < -5){\n    //msg_payload = \"People tweeting about #trump are unhappy.\";\n\n    //msg_payload = -1;\n    sent = -1;\n}\nelse if(sentiment >= -5 && sentiment <= 5){\n    //msg_payload = \"People tweeting about #trump are relatively neutral.\";\n\n    //msg_payload = 0;\n    sent = 0;\n}\nelse{\n    //msg_payload = \"People tweeting about #trump are happy.\";\n\n    //msg_payload = 1;\n    sent = 1;\n}\n\nflow.set('sent', sent);\nmsg.payload = sent;\nreturn msg;","outputs":1,"noerr":0,"x":794.0000152587891,"y":186.0000057220459,"wires":[["31727d17.02ee22"]]},{"id":"707a67d7.015e28","type":"mqtt in","z":"2eed1a12.5c1666","name":"temps","topic":"node-red_in","qos":"2","broker":"8e4c8144.6c8f3","x":284.00000381469727,"y":399.0000114440918,"wires":[["ec094561.3984b8","20ea26f3.d2924a"]]},{"id":"c04936d0.256288","type":"mqtt out","z":"2eed1a12.5c1666","name":"temps","topic":"node-red_out","qos":"","retain":"","broker":"8e4c8144.6c8f3","x":1088.0000801086426,"y":395.0000114440918,"wires":[]},{"id":"20ea26f3.d2924a","type":"function","z":"2eed1a12.5c1666","name":"calc zscore","func":"var aggwindow = context.get('aggwindow')||[];\n\naggwindow.push(msg.payload);\nvar mean = 0;\nvar sd = 0;\nvar sum = 0;\nvar variance = 0;\nif(aggwindow.length > 40){\n    sum = 0;\n    var n = aggwindow.length;\n    var i;\n    for(i = 0; i < n; i++){\n        sum = sum + parseInt(aggwindow[i]);\n    }\n    mean = sum/n;\n    var sqrd = [];\n    for(i = 0; i < n; i++){\n        sqrd.push(Math.pow(mean-parseInt(aggwindow[i]),2));\n    }\n    \n    variance = 0;\n    for(i = 0; i < n; i++){\n        variance = variance + sqrd[i];\n    }\n    sd = Math.sqrt(variance);\n    aggwindow.shift();\n    msg.zscore = (mean - msg.payload)/(sd);\n}\ncontext.set('aggwindow', aggwindow);\n\nmsg.payload = msg.payload + ':' + msg.zscore + ':' + aggwindow.length + ':' + mean + ':' + sd; \nreturn msg;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["1f3aedf1.325502","da9f6e54.52d9b","9671d8ff.ace948"]]},{"id":"1f3aedf1.325502","type":"function","z":"2eed1a12.5c1666","name":"visualization of zscore","func":"msg.payload = msg.zscore;\nreturn msg;","outputs":1,"noerr":0,"x":671.227409362793,"y":329.3636417388916,"wires":[["1ba1e721.a566c9"]]},{"id":"1ba1e721.a566c9","type":"ui_chart","z":"2eed1a12.5c1666","name":"","group":"fc4c1e.066163e","order":0,"width":"9","height":"7","label":"zscore","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":873.8636474609375,"y":327.7272787094116,"wires":[[],[]]},{"id":"da9f6e54.52d9b","type":"function","z":"2eed1a12.5c1666","name":"alert threshold","func":"if(Math.abs(msg.zscore)>0.5){\n    msg.payload = 1;\n    context.alert = 1;\n}\nelse{\n    msg.payload = 0;\n    context.alert = 0;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":666.227294921875,"y":461.00001430511475,"wires":[["f6d0d8f2.3901e8","c7646f31.e1426"]]},{"id":"f6d0d8f2.3901e8","type":"debug","z":"2eed1a12.5c1666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":845.227294921875,"y":483.090913772583,"wires":[]},{"id":"ec094561.3984b8","type":"ui_chart","z":"2eed1a12.5c1666","name":"","group":"c8967af4.a8a388","order":0,"width":0,"height":0,"label":"Input","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":458.1000099182129,"y":313.40003299713135,"wires":[[],[]]},{"id":"9671d8ff.ace948","type":"debug","z":"2eed1a12.5c1666","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":661.9000396728516,"y":540,"wires":[]},{"id":"ccc6cb50.dd6e28","type":"debug","z":"2eed1a12.5c1666","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1037.5000305175781,"y":464.6000061035156,"wires":[]},{"id":"c7646f31.e1426","type":"function","z":"2eed1a12.5c1666","name":"aggregate_data","func":"var sent = flow.get('sent');\nmsg.payload = msg.payload + ':' + sent;\nreturn msg;","outputs":1,"noerr":0,"x":893.5000305175781,"y":400,"wires":[["c04936d0.256288","ccc6cb50.dd6e28"]]},{"id":"8e4c8144.6c8f3","type":"mqtt-broker","z":"","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"node-red","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"fc4c1e.066163e","type":"ui_group","z":"","name":"anomally dash","tab":"4ab57eb3.b0d4c","disp":true,"width":"11","collapse":false},{"id":"c8967af4.a8a388","type":"ui_group","z":"","name":"input","tab":"4ab57eb3.b0d4c","disp":true,"width":"6","collapse":false},{"id":"4ab57eb3.b0d4c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]